@page
@model PizzaTIC.App.Presentacion.InvLDPModel
@{
    ViewData["Title"] = "Menu";
}
    <h1>@ViewData["Title"]</h1>
    <br/>
    <form method="post">
        <div class="container row p-0 m-0">
        
        <!--A text box Menu comes back in name-->
        <!--No longer needed
        <input name="Menu" type="text" class="form-control input-lg" autofocus required/>
        -->
            <div class="col-2">
                <td>
                    <select name="Menu" class="from-control input-lg" onchange="this.form.submit()"><!--name="Menu" must correspond to quest.Form["Menu"] in InvLDP.cshtml.cs-->
                        <option value="0">Seleccione un Menu</option>
                        @foreach (var menu in Model.listInvLDP)
                        {   
                            if (Model.menuName==@menu.INVLPNombre)
                            {   <!--Optains the menu name and shows that menu name in the dropdown menu/button-->              
                                <option value="@menu.INVLPNombre" selected>@menu.INVLPNombre</option>
                            }     
                            else
                            {
                                <option value="@menu.INVLPNombre">@menu.INVLPNombre</option>
                            }
                        }
                    </select>
                </td>
            </div>
            <div class="col-6">
                <!--Show products available on menu selected   -->
                <table class = "table">
                    @foreach (var item in Model.invPNombre)
                    {
                        <td>
                            <a asp-page="ProdDisponible" asp-route-name="@item" class="btn btn-info form-control text-white">Seleccione @item</a> 
                        </td>
                    }   
                </table>
            </div>
        </div>
    </form>



    